/* Tic-Tac-Toe Style */

#rectangleWrapper{
    margin: 50px 50px 0px 50px;
}

.rectangle-group{
    width: 200px;
    height: 100%;
}

.div-row { 
    display: flex;
}

.bottom-line{
    border-bottom: 5px solid #1F618D;
}

.left-line{
    border-left: 5px solid #1F618D;
} 

.right-line{
    border-right: 5px solid #1F618D;
}

.rectangle{
    width: 200px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 90px;
}
